name: lyric
description: "Minden kotta, mindig veled"

publish_to: 'none'

version: 1.0.2+102

environment:
  sdk: '>=3.8.1 <4.0.0'

msix_config:
  display_name: Sófár Hangoló
  identity_name: RefLabs.SfrHangolo
  publisher_display_name: RefLabs
  publisher: CN=89EEEB6C-58E0-4995-BBFE-64F0DFAC94F4
    # MSIX version created like so:
    # 1.2.3 - Semantic version
    # [major+10].[minor].[patch].0
    # 11.2.3.0 - MSIX version
  msix_version: 10.4.1.0
  logo_path: assets/icon/sofar_dalapp_windows.ico
  capabilities: internetClient
  store: true
  protocol_activation: https, lyric
  app_uri_handler_hosts: app.sofarkotta.hu

dependencies:
  flutter:
    sdk: flutter
  intl: any
  flutter_localizations:
    sdk: flutter
  localization: ^2.1.1
  go_router: ^16.0.0
  fading_edge_scrollview: ^4.1.1
  json_annotation: ^4.9.0
  flutter_riverpod: ^2.5.1
  riverpod_annotation: ^2.3.5
  dio: ^5.4.3+1
  path_provider: ^2.1.3
  path: ^1.9.0
  queue: ^3.1.0+2
  drift: ^2.26.1
  drift_flutter: ^0.2.1
  sqlite3_flutter_libs: ^0.5.26
  sqlite3: ^2.4.7
  flutter_svg: ^2.1.0
  package_info_plus: ^8.1.1
  uuid: ^4.5.1
  url_launcher: ^6.3.1
  mailto: ^2.0.0
  flutter_markdown: ^0.7.7+1
  dart_opensong: ^0.0.4
  chord_transposer:
    git:
      url: https://github.com/RedyAu/dart_chord_transposer
      ref: main
  pdfrx: ^2.1.3
  music_notes: ^0.22.0
  logging: ^1.3.0
  flutter_fullscreen: ^1.2.0
  wtf_sliding_sheet: ^1.1.5
  app_links: ^6.4.0
  qr_flutter: ^4.1.0
  share_plus: ^11.0.0
  dynamic_icons: ^1.0.1
  xml: ^6.5.0
  connectivity_plus: ^6.1.4
  cached_network_image: ^3.4.1 # TODO Replace with our implementation, as this uses sqflite
  flutter_test:
    sdk: flutter

dev_dependencies:
  msix: ^3.16.9
  flutter_lints: ^6.0.0
  build_runner: ^2.4.12
  json_serializable: ^6.9.5
  riverpod_generator: ^2.3.0
  riverpod_lint: ^2.1.0
  drift_dev: ^2.26.1
  flutter_launcher_icons: ^0.14.1
  rename_app: ^1.6.3

flutter:
  uses-material-design: true

flutter_launcher_icons:
  #android: "launcher_icon"
  #image_path_android: "assets/icon/sofar_dalapp_rounded_1000.png"
  #adaptive_icon_foreground: "assets/icon/sofar_dalapp_foreground_1000.png"
  #adaptive_icon_background: "#c4a140"
  #adaptive_icon_foreground_inset: 17
  #adaptive_icon_monochrome: "assets/icon/sofar_dalapp_foreground_1000.png"
#
  #ios: true
  #image_path_ios: "assets/icon/sofar_dalapp_foreground_1000.png"
  #remove_alpha_ios: true
  #background_color_ios: "#c4a140"
  #image_path_ios_dark_transparent: "assets/icon/sofar_dalapp_ios_dark_transparent_1000.png"
  #image_path_ios_tinted_grayscale: "assets/icon/sofar_dalapp_ios_tinted_base_1000.png"
  #min_sdk_android: 21
#
  #windows:
  #  generate: false

  macos:
    generate: true
    image_path: "assets/icon/sofar_dalapp_rounded_1000.png"