name: On Commit or PR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  analyze:
    name: Analyze
    uses: ./.github/workflows/part_analyze.yml

  test:
    name: Test
    uses: ./.github/workflows/part_test.yml