name: Test

on:
  workflow_call:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install SQLite
        run: sudo apt-get update && sudo apt-get install -y libsqlite3-dev

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          
      - run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Run Build Runner
        run: dart run build_runner build

      - name: Run tests
        # Exclude drift/mainDb migration tests until migrations are implemented
        # TODO implement and fix DB migration tests
        run: |
          flutter test \
            test/harness \
            test/services \
            test/data
